In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df

    tinggi      jk  berat
0      140  wanita     44
1      141  wanita     44
2      142  wanita     44
3      143  wanita     45
4      144  wanita     45
5      145  wanita     45
6      146  wanita     45
7      147  wanita     46
8      148  wanita     46
9      149  wanita     46
10     150  wanita     47
11     151  wanita     47
12     152  wanita     48
13     153  wanita     48
14     154  wanita     50
15     155  wanita     50
16     156  wanita     50
17     157  wanita     51
18     158  wanita     51
19     159  wanita     52
20     160  wanita     52
21     161    pria     46
22     162    pria     46
23     163    pria     48
24     164    pria     50
25     165    pria     54
26     166    pria     56
27     167    pria     56
28     168    pria     56
29     169    pria     58
30     170    pria     58
31     171    pria     62
32     172    pria     62
33     173    pria     63
34     174    pria     63
35     175    pria     63
36     176    pria     65
37     177    pria     65
38     178    pria     66
39     179    pria     66
40     180    pria     66
41     181    pria     68

In [4]:
x=df.iloc[:,:-1]

In [5]:
x

    tinggi      jk
0      140  wanita
1      141  wanita
2      142  wanita
3      143  wanita
4      144  wanita
5      145  wanita
6      146  wanita
7      147  wanita
8      148  wanita
9      149  wanita
10     150  wanita
11     151  wanita
12     152  wanita
13     153  wanita
14     154  wanita
15     155  wanita
16     156  wanita
17     157  wanita
18     158  wanita
19     159  wanita
20     160  wanita
21     161    pria
22     162    pria
23     163    pria
24     164    pria
25     165    pria
26     166    pria
27     167    pria
28     168    pria
29     169    pria
30     170    pria
31     171    pria
32     172    pria
33     173    pria
34     174    pria
35     175    pria
36     176    pria
37     177    pria
38     178    pria
39     179    pria
40     180    pria
41     181    pria

In [6]:
y=df.iloc[:,2]

In [7]:
y

0     44
1     44
2     44
3     45
4     45
5     45
6     45
7     46
8     46
9     46
10    47
11    47
12    48
13    48
14    50
15    50
16    50
17    51
18    51
19    52
20    52
21    46
22    46
23    48
24    50
25    54
26    56
27    56
28    56
29    58
30    58
31    62
32    62
33    63
34    63
35    63
36    65
37    65
38    66
39    66
40    66
41    68
Name: berat, dtype: int64

In [9]:
from sklearn .preprocessing import LabelEncoder

In [10]:
Le_x=LabelEncoder()

In [11]:
x=x.apply(LabelEncoder().fit_transform)

In [12]:
x

    tinggi  jk
0        0   1
1        1   1
2        2   1
3        3   1
4        4   1
5        5   1
6        6   1
7        7   1
8        8   1
9        9   1
10      10   1
11      11   1
12      12   1
13      13   1
14      14   1
15      15   1
16      16   1
17      17   1
18      18   1
19      19   1
20      20   1
21      21   0
22      22   0
23      23   0
24      24   0
25      25   0
26      26   0
27      27   0
28      28   0
29      29   0
30      30   0
31      31   0
32      32   0
33      33   0
34      34   0
35      35   0
36      36   0
37      37   0
38      38   0
39      39   0
40      40   0
41      41   0

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
import numpy as np

In [16]:
sfsuru=DecisionTreeClassifier()

In [18]:
sfsuru.fit(x.iloc[:,0:2],y)

DecisionTreeClassifier()

In [24]:
xinput =np.array([10,1])

In [25]:
y_predict=sfsuru.predict([xinput])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [26]:
y_predict

array([47], dtype=int64)